<div class="container">
  <div class="mt-4">
    <h2>Rented cars</h2>
    <ul class="list-group">
      <% @orders.each do |order| %>
        <li class="list-group-item d-flex align-items-center justify-content-between py-3 my-2 bg-white">
          <div>
            <%= link_to order.car.name, car_path(order.car) %>
            <small>From <strong><%= order.start_date.strftime('%m/%d/%y') %></strong> to <strong><%= order.end_date.strftime('%m/%d/%y') %></strong></small>
            <%= render "state-badge", order: order %>
          </div>
          <div>
            <% if order.state == 0 %>
              <%= link_to "Cancel my order", cancel_order_path(order), data: { turbo_method: :put, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm text-white" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <h2 class="mt-4">Reservations for your cars</h2>
    <ul class="list-group">
      <% current_user.orders.each do |order| %>
        <li class="list-group-item d-flex align-items-center justify-content-between py-3 my-2 bg-white">
          <div>
            <%= order.car.name %>
            <small>From <%= order.start_date.strftime('%m/%d/%y') %> to <%= order.end_date.strftime('%m/%d/%y') %></small>
            <%= render "state-badge", order: order %>
          </div>
          <div>
            <% if order.state == 0 %>
              <%= link_to "Decline", decline_order_path(order), data: { turbo_method: :put, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm text-white" %>
              <%= link_to "Accept", accept_order_path(order), data: { turbo_method: :put, turbo_confirm: 'Are you sure?' }, class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
