<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://st3.depositphotos.com/4325359/16191/v/450/depositphotos_161918042-stock-illustration-realistic-car-in-the-dark.jpg');">
  <div class="container text-center py-5">
    <h1 class="text-white text-shadow">CarBnb Revolutionizing The Future</h1>
    <p class="text-white text-shadow mb-4">
      Carbnb connects car owners with renters, offering a personalized,<br>
      flexible, and cost-effective way to rent vehicles.<br>
      Experience the future of car rentals today.
    </p>
    <a class="btn btn-primary btn-lg custom-button-position" href="cars#index">Go Book a Car</a>
  </div>
</div>
<div class="welcome-message text-center mt-3">
  <% if current_user %>
    <h4 class="display">Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h4>
  <% else %>
    <p>You are not logged in.</p>
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-primary btn-lg' %>
  </div>
<% end %>
<%= render "partials/whyus" %>
<%= render "partials/testimonials" %>
<%= render "partials/faq" %>
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-start">
      <%= render 'partials/search', locals: { cars: @cars } %>
    </div>
  </div>
</div>
